<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wallpaperr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wallpaperr.Properties.Settings>
            <setting name="ShowOnRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSubdirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>255, 206, 157</value>
            </setting>
            <setting name="SmartRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Border" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Thickness" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TimerUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SingleMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoubleClickIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundBlend" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="UseLegacyTiling" serializeAs="String">
                <value>False</value>
            </setting>
        </Wallpaperr.Properties.Settings>
    </userSettings>
</configuration>